:root {
    --white: rgb(255, 255, 255);
    --white2: rgb(245, 245, 245);
    --black: rgb(0, 0, 0);
    --black2: rgb(27, 27, 27);
    --black3: rgb(33, 33, 33);
    --main-color: rgb(228, 228, 228);
    --main-color2: rgb(139, 139, 139);
    --secondary-color: rgb(63, 63, 63);
    --secondary-color2: rgb(83, 83, 83);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

@font-face {
    font-family: "Old";
    src: url("/Fonts/OldEnglishFive-axyVg.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}

p, li {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--main-color);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    user-select: none;
}

div {
    user-select: none;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

body {
    margin: auto;
    margin-top: 60px;
    background-image: linear-gradient(to bottom right, var(--black2), var(--black3));
    align-items: center;
    overflow-x: hidden;
}

.header {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.93);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid var(--white);
    z-index: 10;
    box-shadow: 0 9px 15px rgba(255, 255, 255, 0.12);
    transition: backdrop-filter 0.3s ease, background 0.3s ease;
}

.bottom-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    height: 180px;
    background-color: var(--black);
    backdrop-filter: blur(3px);
    border-top: 3px solid var(--white);
    filter: brightness(120%);
}

.bottom-header-text {
    text-align: center;
    margin: auto;
    color: var(--white);
    display: inline-block;
    width: 100%;
    font-size: 0.75vw;
}

.home {
    margin: auto;
    width: 93%;
    z-index: 0;
    padding-top: 30px;
    padding-bottom: 60px;
}

.title-text {
    font-family: "Old";
    margin: 12%;
    margin-bottom: 6%;
    text-align: center;
    font-size: 2.1vw;
    color: var(--white);
    font-weight: bolder;
    letter-spacing: 2.4px;
    transform: scaleY(1.3);
}

.subtitle-text {
    font-weight: 400;
    margin-left: 1.5%;
    font-size: 1.05vw;
    text-align: start;
    color: var(--white);
    letter-spacing: 1.2px;
    transform: scaleY(1.3);
    font-weight: bold;
    margin-bottom: 3px;
}

.subtitle-text2 {
    font-weight: bold;
    margin-left: 1.5%;
    font-size: 1.3vw;
    text-align: start;
    color: var(--white);
    letter-spacing: 1.2px;
    transform: scaleY(1.3);
    margin-bottom: 3px;
}

.main-text {
    text-align: start;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 3%;
    font-size: 1.2vw;
    color: var(--main-color);
    filter: brightness(0.9);
    letter-spacing: 0px;
}

.nav-scroll {
    font-size: 1.8vw;
    color: var(--secondary-color2);
    font-weight: bolder;
}

li {
    text-align: center;
    font-size: 1.2vw;
    color: var(--main-color);
    margin: auto;
    text-align: start;
    margin-left: 3%;
    margin-bottom: 9px;
    letter-spacing: 0px;
    filter: brightness(0.9);
}

.promo-text {
    text-align: center;
    font-size: 0.9vw;
    color: var(--main-color);
    margin: auto;
}

.expertise-div {
    background-image: linear-gradient(to bottom right, var(--secondary-color2), var(--secondary-color));
    border: 1px solid var(--main-color);
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.08);
    outline-offset: -9px;
    display: flex;
    align-items: center;
    height: auto;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.news-div2 {
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--main-color2));
    border: 1px solid var(--main-color);
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.08);
    outline-offset: -9px;
    display: flex;
    align-items: center;
    height: auto;
    transition: all 200ms;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.news-div2:hover {
    background-image: linear-gradient(to bottom right, var(--black3), var(--secondary-color));
    transform: scaleX(1.005);
    border: 1px solid var(--white);
    box-shadow: 3px 3px 30px rgba(255, 255, 255, 0.1);
}

.collage {
    width: 100%;
    margin: auto;
    padding: 15px 0;
}

.collage-container {
    width: 100%;
    display: flex;
    gap: 3px;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 33%;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.icon-container {
    margin-bottom: 30px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 18%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--main-color2));
    border: 3px solid var(--main-color);
    outline: 1px solid var(--main-color);
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.08);
    outline-offset: -9px;
    border-radius: 30px;
}

.icon-div {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.icon-div:hover {
    filter: brightness(1.5);
}

.icon-container a {
    text-decoration: none;
}

.icon-container img {
    width: 15px;
    height: 15px;
    padding: 3px;
    margin: auto;
    margin-bottom: 6px;
}

.latest-image {
    width: 10%;
    height: auto;
    display: inline-block;
    object-fit: cover;
    padding: 0px;
}

.hidden {
    opacity: 0.15;
    filter: blur(0.05rem);
}

.show {
    opacity: 1;
    filter: blur(0rem);
    transition: all 600ms;
}

.hidden2 {
    opacity: 0.2;
    filter: blur(0.05rem);
    transform: translateX(+2%);
}

.show2 {
    opacity: 1;
    filter: blur(0rem);
    transform: translateX(0);
    transition: all 600ms;
}

.social-navbar {
    margin-top: 35px;
    height: 27px;
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--main-color2));
    z-index: 9;
    padding: 0px 0;
    text-align: right;
    padding-right: 1.5%;
    padding-left: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    margin: 12px;
    display: inline-block;
}

.nav-icon {
    height: 12px;
    width: 12px;
    transition: transform 0.2s ease;
}

.nav-icon:hover {
    transform: scale(1.2);
}

.cv-button {
    width: 100%;
    padding: 6px;
    font-size: 1.8vw;
    background-color: var(--main-color2);
    color: white;
    cursor: pointer;
    outline: rgb(255, 255, 255) solid 1.5px;
    transition: background-color 0.2s ease;
}

.cv-button:hover {
    background-color: white;
    color: black;
}

.collage2 {
    height: clamp(300px, 80vh, 700px);
    width: 100%;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
    margin: auto;
    background-color: black;
}

.collage2-main-img {
    display: block;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    position: relative;
    z-index: 1;
    margin: auto;
    margin-top: 60px;
    border: 2px solid var(--secondary-color);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.7);
}

.fade-in-slide-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .home {
        margin: auto;
        width: 96%;
    }

    .header {
        height: 90px;
    }

    .social-navbar {
        margin-top: 35px;
    }

    .phone {
        margin-top: 180px;
    }

    .title-text {
        font-family: Old;
        font-size: 5.1vw;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 12%;
    }

    .subtitle-text {
        font-size: 3.3vw;
        margin-bottom: 6px;
    }

    .subtitle-text2 {
        margin-top: 18%;
        font-size: 4.2vw;
        margin-bottom: 6px;
    }

    .nav-scroll {
        font-size: 4.2vw;
    }

    .main-text {
        font-size: 3.3vw;
        margin-bottom: 6%;
    }

    .promo-text {
        text-align: center;
        font-size: 3vw;
        margin: auto;
    }

    li {
        font-size: 3.3vw;
        margin-bottom: 12px;
    }

    .bottom-header-text {
        font-size: 3vw;
    }

    .latest-image {
        width: 34.5%;
        margin-left: 0%;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-right: 0px;
    }

    .collage-container {
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }

    .column {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        width: 100%;
    }

    .icon-div {
        margin-left: 12px;
        margin-right: 12px;
    }

    .collage2 {
        height: 78vh;
    }

    .cv-button {
        padding: 9px;
        font-size: 3vw;
    }
}